---
const pageTitle = "Schedule";
import BaseLayout from './../layouts/BaseLayout.astro'
import LocationList from './../components/LocationList.astro'
import fetchApi from "../lib/strapi";

const locations = await fetchApi({
  endpoint: "locations",
  wrappedByKey: "data",
  query: { populate: "*"  },
});

const categories = await fetchApi({
  endpoint: "categories",
  wrappedByKey: "data",
});

---

<BaseLayout pageTitle = {pageTitle} >
  <div>
    <h1 class="page__title">{pageTitle}</h1>
  </div>
    <LocationList locations = {locations}/>
</BaseLayout>
