---
import "./../css/reset.css"
import "./../css/global.css"
import { ViewTransitions } from "astro:transitions";
import Navigation from './../components/Navigation.astro';
import Footer from './../components/Footer.astro';
const {pageTitle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&display=swap" rel="stylesheet">
    <title>{pageTitle}</title>
      <ViewTransitions />

  </head>
  <body>
    <Navigation />
        <slot />
    <Footer />
  </body>
</html>