---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LocationList from "../../components/LocationList.astro";
import fetchApi from "../../lib/strapi";
import './../../css/global.css'

export async function getStaticPaths() {
  const categories = await fetchApi({
    endpoint: "categories",
    wrappedByKey: "data",
    query: { "populate[0]": "locations", "populate[1]": "locations.image" },
  });

  const paths = categories.map((category, i) => ({
    params: { id: category.id.toString() },
    props: {
      category,
    },
  }));

  return paths;
}

const { category } = Astro.props;
---


<BaseLayout pageTitle={category.attributes.Name}>
  <h2 class="subtitle subtitle__category">All locations within the "<span>{category.attributes.Name}</span>" category</h2>
  <LocationList locations={category.attributes.locations.data} />
</BaseLayout>

<style>
  .subtitle__category{
    margin-left: 5rem;
   }
</style>