---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LocationList from "../../components/LocationList.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
  const categories = await fetchApi({
    endpoint: "categories",
    wrappedByKey: "data",
    query: { "populate[0]": "locations", "populate[1]": "locations.image" },
  });

  const paths = categories.map((category, i) => ({
    params: { id: category.id.toString() },
    props: {
      category,
    },
  }));

  return paths;
}

const { category } = Astro.props;
---

<style>
  h2 {
    font-size: var(--fs-l);
    font-weight: bold;
    margin-bottom: var(--s1);
    color: white;
  }

  span {
    color: var(--c-primary);
  }
</style>

<BaseLayout pageTitle={category.attributes.name}>
  <h2>locations in the <span>{category.attributes.name}</span> category</h2>
  <LocationList locations={category.attributes.locations.data} />
</BaseLayout>
