---
const {category} = Astro.props;
---

<div>
    <h3 class="category__name">{category.attributes.Name}</h3>
</div>

<style>
    .category__name{
        font-size: var(--s2);
        color: white;
    }
</style>
