---

---

<div class="title__wrapper">
        <h1 class="home__title">"TrimCraft, the creative pruning conference"</h1>
        <div class="button__wrapper">
            <a href=`${import.meta.env.BASE_URL}/tickets/` class="button__tickets">Tickets</a>
            <a href=`${import.meta.env.BASE_URL}/schedule/` class="button__schedule">Schedule</a>
        </div>
    </div>

    <style>
         .home__title{
        margin-left: 3rem;
        padding: 14rem 0rem;
        font-size: var(--s4);
        color: white;
        letter-spacing: 2px;
        font-weight: 800;
    }        
    .title__wrapper{
        height: 100vh;
        background-image: url('./../assets/headerimg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button__schedule{
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        border: solid 4px darkolivegreen;
        border-radius: 5px;
        margin-left: 3rem;
        font-size: var(--s2);
    }
    .button__tickets{
        color: white;
        text-decoration: none;
        padding: 1rem 2.7rem;
        background-color: darkolivegreen;
        border: solid 4px darkolivegreen;
        border-radius: 5px;
        margin-left: 4rem;
        font-size: var(--s2);
    }
    </style>