---
import { Image } from "astro:assets";
const { location } = Astro.props;

---
  <div class="content__wrapper">
    <p class="highlights"> {location.attributes.Highlights}</p>
    <Image
          src={`${import.meta.env.STRAPI_URL}${
            location.attributes.image?.data.attributes.url
          }`}
          alt="Location image"
          width="300"
          height="400"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
        />
  </div>
  <div class="last__content">
    <p class="travelinfo">{location.attributes.Travelinfo}</p>
    <!-- <p>{location.attributes.categories?.data?.attributes?.Name}</p> -->
  </div>
      
    
<style>
  .content__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    height: fit-content;
  }
  .highlights{
    width: 50rem;
  }
  .travelinfo{
    width: 60rem;
  }
.last__content{
  display: flex;
  justify-content: center;
}
  img {
    aspect-ratio: 3/4;
    object-fit: contain;
    grid-area: img;
    justify-self: center;
    padding: var(--s1);
  }

  
  @container (min-width: 40rem) {
    article {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto auto;
      grid-template-areas:
        "img title"
        "img desc"
        "img category"
        "img price"
        "img cta";
    }

    article:hover {
      box-shadow: var(--defaultShadow);
    }

    .price {
      justify-self: flex-end;
    }

    .category {
      display: inline;
    }
  }
</style>
