---
---

<nav class="nav__wrapper--all">
    <a class="nav__item" href="/">TrimCraft</a>
    <div class="nav__wrapper">
        <a class="nav__item nav__item--left" href="/">Home</a>
        <a class="nav__item nav__item--left" href="/schedule/">Schedule</a>
        <a class="nav__item nav__item--left" href="/tickets/">Tickets</a>
    </div>
</nav>

<style>

    .nav__wrapper--all{
        display: flex;
        justify-content: space-between;
        margin: 2rem 5rem;
    }

    .nav__item{
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-family: 'DM Sans', sans-serif;
    }
    .nav__item--left{
        padding-left: 5rem;
    }
    
    </style>