---

---

<section class="content__wrapper">
        <h2 class="subtitle">What to expect</h2>
        <p class="whattoexpect">Discover the beauty of shaping nature with imagination and precision at the most anticipated creative pruning event of the year. The PruneCraft Summit is a multi-day journey into the art and science of creative pruning, where enthusiasts, experts, and artists converge to celebrate the boundless possibilities of sculpting living masterpieces.</p>
    </section>

    <style>
         .content__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7rem 0rem;
        margin-bottom: 10rem;
    }
    .whattoexpect{
        width: 35rem;
        font-size: var(--s1);
    }
    </style>